# This file is a template, and might need editing before it works on your project.
include:
  template: Jobs/Code-Quality.gitlab-ci.yml
code_quality:
  artifacts:
    paths: [gl-code-quality-report.json]
